@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    <head>
        <header>
            <h1> Welcome to Weather-Informed Match Strategy</h1>
            <h2> About the App </h2>
            <h2> </h2>

        </header>
    </head>
    <body>
        <nav>
            <a href="/TodaysForecast">Go to Todays forecast</a>
        </nav>


        <h2> About Us</h2>

        <p> The Weather-Informed Match Strategy app provides real-time meteorological updates tailored for soccer matches, empowering coaches and teams to optimize their strategies based on currrent weather conditions. By integrating personalized tips for players and efficient scheduling for organizers, the app ensures a seamless and comfortable experience for both participants and spectators, enhancing the overall success of soccer events. </p>




    </body>








}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
