@page
@model Weather_Informed_Match_Strategy2.Pages.TodaysForecastModel
@{
     <head>
     <div class="container mt-4">
    
       
            <h1> Today's Forecast </h1>
            <h2> Summary of Weather Conditions </h2>
        </div>
            
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="Weather_Informed_Match_Strategy2.styles.css" asp-append-version="true" />

    </head>
    <body>
        <nav>
            <a href="index.cshtml">Home</a>
        </nav>
       <table> 
       <thead>

       <td>Weather</td>
       <td>Place to practice</td>
       
       </thead>
       <tbody> 
       <tr>
       <td>Sunny and Warm</td>
       <td> Turf Field </td>
       
       
       
       </tr>
       <tr>
       <td>Cold and Rainy </td>
       <td> Indoor Facility</td>
       
       
       </tr>
       
       
       
       </tbody>
       
       
       
       
       
       
       </table>
      
        
        <h2> Weather Information</h2>

        <p> Here you can find where to practice based on the weather. </p>
        <footer>
            <p>&copy; 2024 Weather-Informed Match Strategy</p>
        </footer>
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>;

        </body>


}
